html, body{
	margin:0;
	padding:0;
	height:100%;
}

body {
  background:black;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:monospace;
}

#editorContainer{
	padding:0;
	margin:0;
	box-sizing: border-box;
  height: 740px;
	width: 840px;
	background:#aaa;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

h1 {
	font-size:small;
	margin:0;
	padding:0;
	text-align: center;
	color:#333;
	margin-bottom: 1px;
}

#frameContainer{
	width:800px;
	height:600px;
	margin:0 auto;
	border:10px solid #333;
	border-radius:7px;
}

#frameContainer #imgmGame {
	position: absolute;
}

#toolPanelsContainer {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
#toolPanelsContainer div{
	margin:5px;
}

#toolPanelsContainer div *{
  margin: 3px 1px;
}

hr, #toolPanelsContainer div hr {
	display: inline;
	border: none;
	margin: 0 10px;
}

button, select, option, input {
	font-size: small;
}

#statusBar {
	display: flex;
	justify-content: space-evenly;
	background: #333;
	color:white;
	font-size: small;
	text-align: center;
	margin: 0;
	padding:1px;
}

#statusBar b {
	color:#aaa;
}
